@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans.eot');
    src: local('☺'), url('../fonts/NeoSans.woff') format('woff'), url('../fonts/NeoSans.ttf') format('truetype'), url('../fonts/NeoSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'NeoSans', sans-serif;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
}

html,
body {
    min-height: 100vh;
}

html,
header {
    max-width: 1920px;
    margin: 0 auto;
}

button:focus {
    outline: none !important;
}

.btn-primary {
    background-color: #347AF4;
    border-radius: 0;
    border: 0;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.logo {
    max-width: 10rem;
}

header {
    background-color: transparent;
    z-index: 1000;
}
header.scrolled {
    background-color: #000f28;
}

header ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s linear;
}

header ul li a:hover,
.menu ul li a.active {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}


/*Owl Thumb CSS*/

.owl-thumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    text-align: center;
}

.owl-thumb-item {
    border: none;
    background: none;
    padding: 0;
    opacity: 1;
}

.menu-icon {
    width: 100%;
    max-width: 3.5rem;
    position: relative;
    z-index: 999;
    margin-left: auto;
    cursor: pointer;
    height: 100%;
    padding: 0.5rem 1rem;
}

.success-message,
.error-message{
  display: none;
  margin-top: 2rem;
}

/*Owl Thumb CSS*/

.contactMain {
    min-height: calc(100vh - 5rem);
}

.cus-select {
    position: relative;
}
.cus-select input {
    background: url(../img/UI_Icons/Down\ Arrow.svg) no-repeat;
    background-position: right 1rem center;
}
.custom-select-options {
    position: absolute;
    top: calc(1.5em + 1.25rem + 2px);
    left: 0; 
    z-index: 10;
    display: none;
    transition: all 0.3s ease-in-out;
}
.custom-select-options.enable {
    display: block;
    top: calc(1.5em + 0.75rem + 2px);
}
.custom-select-options li {
    padding: 0.75rem 1rem;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.6);
}

.custom-select-options li:hover {
    background-color: #111828;
}

.has-error span {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: block;
}

@media screen and (min-width: 320px) {
    * {
        font-size: 14px;
    }
    .title-banner {
        font-size: 1.75rem;
        line-height: 3.5rem;
    }
    .common-section {
        padding: 4rem 1.25rem;
    }
    header {
        padding: 0 1.25rem;
    }
    footer {
        padding: 0 1.25rem;
    }
    .common-head {
        color: #fff;
        font-size: 2.25rem;
        font-weight: 600;
    }
    .banner .common-head {
        line-height: 3.25rem;
    }
    .timer-block {
        width: 100%;
    }
    .banner {
        height: 100vh;
    }
    .recent-launch figcaption {
        width: 80%;
    }
    .owl-thumb-item img {
        width: 5rem;
        height: auto;
    }
    .owl-thumbs {
        display: none;
    }
    .recent-launch figcaption {
        width: 100%;
        margin-top: 1rem;
    }
    .carousel-overlay:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        background: url(../img/UI_Icons/Play.svg) no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 1rem 0 #403f3f;
        border-radius: 50%;
        transition: all 0.3 linear;
    }
    .carousel-overlay:hover:after {
        width: 4rem;
        height: 4rem;
    }
    .odd .row>div:nth-child(1) {
        order: 2;
    }
    .odd .row>div:nth-child(2) {
        order: 1;
    }
    footer .row>div:nth-child(2) {
        order: 3;
    }
    footer .row>div:nth-child(3) {
        order: 2;
    }
    .bring-vision .row>div:nth-child(2) {
        order: 1;
    }
    .bring-vision .row>div:nth-child(1) {
        order: 2;
    }
    .projects .row>div:first-child {
        border-bottom: 0.1rem solid transparent;
        border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.430287) 21.12%, rgba(255, 255, 255, 0.8) 50.28%, rgba(255, 255, 255, 0.518066) 77.89%, rgba(255, 255, 255, 0) 100%) 30 stretch;
    }
    .projects .row>div:first-child .proj-wrapper {
        margin-bottom: 2rem;
    }
    .projects .row>div:last-child .proj-wrapper {
        margin-top: 2rem;
        border: 0;
    }
    .projects h2 {
        font-size: 2.5rem;
    }
    .projects p {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.8);
    }
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        padding: 0;
        width: 100%;
        max-width: 22.5rem;
        background: url(../img/Our_Core_focus_Ellipse.svg) no-repeat;
        background-color: #010D22;
        transition: all 0.6s ease-in-out;
        background-position: bottom right;
        background-size: contain;
    }
    .menu.slideIn {
        right: 0;
    }
    .menu ul li {
        display: block;
    }
    .menu ul li a {
        padding: 1.25rem 1.75rem;
    }
    .menu .common-head {
        font-size: 1.75rem;
        padding: 1.25rem 2rem;
    }
    .menu-icon>svg:last-child {
        display: none;
    }
    .menu-icon.open>svg:first-child {
        display: none;
    }
    .menu-icon.open>svg:last-child {
        display: block;
    }
    .carousel-item .banner-img {
        max-width: 35rem;
    }
    .carousel-item .banner-img-sm {
        max-width: 18.5rem;
    }
    .title-banner {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .banner h5 {
        font-size: 1.15rem;
        letter-spacing: 0.15rem;
        color: #fff;
        opacity: 0.8;
    }
    #timer>div {
        background: radial-gradient(69.8% 56.23% at 50.34% 100%, rgba(52, 122, 244, 0.27) 0%, rgba(52, 122, 244, 0) 100%);
        max-width: 20%;
        flex: 1 0 20%;
        padding: 1.5rem 1.25rem;
        margin-right: 5%;
        text-align: center;
    }
    .we-aim figure {
        overflow: hidden;
        margin: 0 -1.25rem -4rem !important;
    }
    .vision-wos figure {
        overflow: hidden;
        margin: -4rem -1.25rem 0 !important;
    }
    .we-aim figure img {
        transform: scale(1.75) translate(0, 22.5%);
    }
    .vision-wos figure img {
        transform: scale(1.65) translate(8%, -12.5%);
    }
    .common-section.page-head {
        padding-top: 7rem;
        padding-bottom: 3.5rem;
        display: flex;
        align-items: center;
    }
    .common-section.contact {
        padding-top: 7rem;
        padding-bottom: 3.5rem;
    }
    .chMan-img-block figure {
        background: linear-gradient(180deg, rgba(31, 37, 48, 0) 0%, #1F2530 100%);
        padding: 2rem 2.75rem 0;
    }
    .chMan-img-block-content {
        background-color: #1F2530;
        padding: 1.5rem 1.25rem;
    }
    .chMan-img-block-content h4 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.25rem;
    }
    .chMan-img-block-content h5 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.35rem;
        font-weight: 600;
    }
    .chMan-img-block {
        width: 100%;
    }
    .recent-launch .owl-carousel .owl-nav {
        margin: 1.5rem 0 0;
    }
    .recent-launch .owl-carousel .owl-nav button {
        padding: 0.75rem !important;
        border: 0.1rem solid #347AF4;
        cursor: pointer;
        box-shadow: inset 0 0 1rem 0 rgba(52, 122, 244, 0.4);
    }
    .recent-launch .owl-carousel .owl-nav button:first-child {
        margin-right: 1.5rem;
    }
    .recent-launch .owl-carousel .item figure {
        position: relative;
    }
    #chManBlockItem {
        order: 1;
    }    
    #chManBlock > .row > div:first-child {
        order: 2;
    }
    .chMan-img-block figure, .chMan-img-block > div {
        width: 100%;
    }
    .chMan-img-block figure img {
        max-width: 15rem;
    }
    .contact-submit-btn {
        width: 100%;
        margin-bottom: 1rem;
    }
    .contact-submit-btn:last-child {
        margin: 0;
    }
}

@media screen and (min-width: 450px) {
    .contact-submit-btn {
        width: auto;
        margin: 0 1rem 0 0;
    }
}
@media screen and (min-width: 576px) {
    .chMan-img-block {
        display: flex;
    }
    .chMan-img-block figure, .chMan-img-block > div {
        width: auto;
    }
    .chMan-img-block figure {
        background-color: #1F2530;
        padding: 1.5rem 1.5rem 0;
    }
}

@media screen and (min-width: 768px) {
    .owl-thumb-item img {
        width: 7.5rem;
    }
    .recent-launch .owl-carousel .owl-nav button {
        bottom: 2.5%;
    }
    footer .row>div:nth-child(2) {
        order: 2;
    }
    footer .row>div:nth-child(3) {
        order: 3;
    }
    .title-banner {
        font-size: 2.25rem;
        line-height: 3.5rem;
    }
    .banner h5 {
        font-size: 1.5rem;
    }
    #timer>div {
        padding: 1.75rem 1.5rem;
    }
    .timer-block {
        width: 90%;
        margin: 0 auto;
    }
    .projects h2,
    .projects p {
        text-align: center;
    }
    .common-section.page-head {
        min-height: 32.5rem;
        justify-content: center;
    }
    .chMan-img-block {
        width: 80%;
    }
    .carousel-item .banner-img-sm {
        max-width: 27.5rem;
    }
    .recent-launch figcaption {
        position: absolute;
        left: 50%;
        text-align: center;        
        top: 70%;
        width: auto;
        margin: 0;
        transform: translate(-50%, -50%);
    }
    .owl-thumbs {
        position: static;
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 1rem auto 0;
        flex-wrap: wrap;
    }
    .recent-launch .owl-carousel .owl-nav button {
        position: absolute;
        z-index: 10;        
        margin: 0 !important;
        padding: 0.5rem !important;
    }
    
    .recent-launch .owl-carousel .owl-nav button {
        bottom: 2.5%;
    }
    .recent-launch .owl-carousel .owl-nav .owl-prev {
        left: 0;
    }
    .recent-launch .owl-carousel .owl-nav .owl-next {
        right: 0;
    }
    .carousel-overlay:after {
        top: 40%; 
    }
    #chManBlockItem {
        order: 2;
    }    
    #chManBlock > .row > div:first-child {
        order: 1;
    }
    .chMan-img-block figure {
        background: linear-gradient(180deg, rgba(31, 37, 48, 0) 0%, #1F2530 100%);
        padding: 2rem 2.75rem 0;
    }
    .chMan-img-block {
        display: block;
    }
    #chManBlockItem.fixed {
        right: 1.25rem;
    }
}


@media screen and (max-width: 768px) {
    header .main-container {
        border-bottom: 0 !important;
    }
}

@media screen and (min-width: 992px) {
    .common-section {
        padding: 5rem 1.875rem;
    }
    .title-banner {
        font-size: 2.25rem;
        line-height: 3.5rem;
    }
    header {
        padding: 0 1.875rem;
    }
    #chManBlockItem.fixed {
        right: 1.875rem;
    }
    footer {
        padding: 0 1.875rem;
    }
    .common-head {
        font-size: 2.75rem;
    }
    .timer-block {
        width: 75%;
    }
    .banner.has-bg:after {
        background: url(../img/Illustrations/banner1.png) no-repeat;
        background-position: right -10vw bottom -10vh;
        background-size: 56vw;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .banner.has-bg:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(to top, #001231, rgba(0,18,49,0));
        z-index: 1;
    }
    .carousel-item .banner-img {
        max-width: 45rem;
    }
    .owl-thumbs {
        width: 65%;
    }
    .owl-thumbs {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        justify-content: space-between;
        margin: 0;
    }
    .recent-launch .owl-carousel .owl-nav button {
        bottom: 12.5%;
    }
    .recent-launch .owl-carousel .owl-nav .owl-prev {
        left: 5%;
    }
    .recent-launch .owl-carousel .owl-nav .owl-next {
        right: 5%;
    }
    .recent-launch figcaption {
        width: 65%;
        top: 60%;
    }
    .proj-wrapper {
        padding: 0 4rem;
        border-bottom: 0;
        border-right: 0.1rem solid transparent;
    }
    .projects h2 {
        font-size: 3.75rem;
    }
    .projects p {
        font-size: 1.5rem;
    }
    .projects h2 span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
    }
    .menu {
        position: static;
        height: auto;
        padding: 0;
        width: auto;
        max-width: 100%;
        background: none;
        background-color: transparent;
    }
    .menu ul li a {
        padding: 1rem 1.5rem;
    }
    .menu ul li {
        display: inline-block;
        vertical-align: middle;
    }
    .mh-55 {
        min-height: 55rem;
    }
    .we-aim:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/Illustrations/we-aim.png) no-repeat;
        background-position: -20rem 20vh;
        background-size: 100vw;
    }
    .vision-wos:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/Illustrations/vision-wos.png) no-repeat;
        background-position: -8rem -25rem;
        background-size: 120rem;
    }
    .align-lg-bottom {
        vertical-align: bottom !important;
    }
    .h-lg-100 {
        height: 100% !important;
    }
    .bring-vision .row>div:nth-child(2) {
        order: 2;
    }
    .bring-vision .row>div:nth-child(1) {
        order: 1;
    }
    .chMan-img-block {
        width: 75%;
    }
    .odd .row>div:nth-child(1) {
        order: 1;
    }
    .odd .row>div:nth-child(2) {
        order: 2;
    }
}

@media screen and (min-width: 1100px) {
    .recent-launch figcaption {
        bottom: 25%;
        transform: translate(-50%, 0);
    }
    .owl-thumb-item img {
        width: 10rem;
    }
    .carousel-overlay:after {
        right: auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .vision-wos:after {
        background: url(../img/Illustrations/vision-wos.png) no-repeat;
        background-position: -8rem -27.5rem;
        background-size: 130rem;
    }
}

@media screen and (min-width: 1200px) {
    .projects .row>div:first-child {
        border-bottom: 0;
        border-right: 0.1rem solid transparent;
        border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.502528) 24.24%, rgba(255, 255, 255, 0.54) 50.31%, rgba(255, 255, 255, 0.486898) 76.33%, rgba(255, 255, 255, 0) 100%) 30 stretch;
    }
    .projects .row>div:first-child .proj-wrapper,
    .projects .row>div:last-child .proj-wrapper {
        margin: 0;
    }
    .projects h2,
    .projects p {
        text-align: left;
    }
    .vision-wos:after {
        background: url(../img/Illustrations/vision-wos.png) no-repeat;
        background-position: -8rem -25rem;
        background-size: 130rem;
    }
    .chMan-img-block {
        width: 70%;
    }
}

@media screen and (min-width: 1450px) {
    .banner.has-bg:after {
        background-position: right -5vw bottom -5vh;
        background-size: 47.5vw;
    }
    .recent-launch figcaption {
        width: 50%;
    }
    .projects h2 {
        font-size: 5rem;
    }
    .we-aim:after {
        background: url(../img/Illustrations/we-aim.png) no-repeat;
        background-position: -40rem 7.5rem;
        background-size: 135rem 90rem;
    }
    .vision-wos:after {
        background: url(../img/Illustrations/vision-wos.png) no-repeat;
        background-position: -9rem -30rem;
        background-size: 140rem;
    }
    .owl-thumb-item img {
        width: 12rem;
    }
    .chMan-img-block {
        width: 62.5%;
    }
}

@media screen and (min-width: 1600px) {
    * {
        font-size: 18px;
    }
    .timer-block {
        width: 55%;
    }
    .banner .main-container {
        height: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .banner .main-container {
        height: 85%;
    }
    .banner.has-bg:after {
        background-position: right -5vw bottom -5vh;
        background-size: 58vw;
    }
}