.our-core {
    background-color: #000F28;
    background-image: url(../img/Our_Core_focus_Ellipse.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30rem;
}

.focus-list-head figure {
    background: rgba(255, 255, 255, 0.08);
    width: 100%;
    max-width: 6rem;
}

.focus-list-head p {
    color: #DD911F;
    font-size: 1.35rem;
    font-weight: 500;
}

.focus-list-body>h4,
.page-bg h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
}

.focus-list-body>p,
.carousel-item p,
.vision-wos p,
.we-aim p,
.page-bg p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.15rem;
    line-height: 1.75rem;
}

.main-container {
    width: 95%;
}

header .main-container {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.430287) 21.12%, rgba(255, 255, 255, 0.8) 50.28%, rgba(255, 255, 255, 0.518066) 77.89%, rgba(255, 255, 255, 0) 100%) 30 stretch;
}

.banner {
    background: linear-gradient(180deg, #001231, #000000 100%);
    display: flex;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 3.5rem;
    position: relative;
}

.common-section.page-head {
    padding-top: 7rem;
    padding-bottom: 3.5rem;
    background: url(../img/Chairman_Message/bg.svg) no-repeat;
    background-size: 100%;
    background-position: bottom center;
}

.banner .main-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 90%;
}

.banner * {
    color: #fff;
}

.banner .btn-primary {
    padding: 0.75rem 1.5rem;
    min-width: 12.5rem;
    font-size: 1.05rem;
}

#timer>div:last-child {
    margin: 0;
}

.banner .carousel-indicators {
    margin: 0;
    bottom: -5%;
    z-index: 100;
}

.banner .carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.banner .carousel-indicators li.active {
    border-color: #fff;
    background-color: transparent;
}

.banner .carousel-indicators li.active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    /* background-color: #fff; */
    transform: translate(-50%, -50%);
}

.org-txt {
    color: #DD911F !important;
}

.vision-mission {
    background: #001231;
}

.vision-mission p,
.last-stanz p:last-child {
    color: #fff;
}

.last-stanz p:nth-last-child(2),
.last-stanz p:last-child {
    font-size: 1.25rem;
}

.media-centre {
    background-color: #051D00;
}

.media-centre-item {
    padding: 2rem 1.25rem;
    background-color: #1E2D20;
}

.media-centre-item h6 {
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
}

.media-centre-item p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
}

.btn-slider {
    background-color: transparent;
    border: 0.1rem solid #fff;
    box-shadow: inset 0 0 1.25rem 0 rgba(255, 255, 255, 0.4);
    padding: 0.65rem 1.5rem;
    font-weight: 500;
    transition: all 0.3s linear;
}

.btn-slider:hover {
    background-color: #1CA800;
    border-color: #1CA800;
}

.common-head span {
    font: inherit;
}

.form-group button {
    min-width: 12.5rem;
    padding: 1rem;
}

.common-head ul li {
    padding: 0.75rem;
    border: 0.1rem solid #1CA800;
    cursor: pointer;
    box-shadow: inset 0 0 1.25rem 0 rgba(28, 168, 0, 0.4);
}

.common-head ul li.disabled {
    opacity: 0.5;
}

.arrow-icon {
    max-width: 1.75rem;
}

.menu-bottom {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    left: 0;
    padding: 3rem 1.75rem;
}

.bring-vision,
.bring-vision-two {
    background: #010D22;
}

.bring-vision p,
.bring-vision-two p,
.bring-vision h2,
.bring-vision-two h2 {
    color: #fff;
}

.footer-bg {
    background-color: #111828;
}

.footer-bg p {
    color: #989898;
    align-items: center;
    font-size: 0.9rem;
}

.page-bg {
    background: linear-gradient(180.81deg, #051632 0.79%, #000918 99.4%);
}


/* .page-bg h2 {
    color: #ffffff;
    font-size: 2.5rem;
}

.page-bg p {
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
} */

.social-icon {
    max-width: 2.5rem;
    padding: 0.35rem 0.5rem;
    border: 0.1rem solid #347AF4;
    box-shadow: inset 0px 0px 1.25rem rgba(52, 122, 244, 0.4);
    background: linear-gradient(93.17deg, rgba(3, 9, 23, 0.6) 0%, rgba(3, 9, 23, 0) 100%);
}

.recent-launch {
    background-color: #111;
}

.recent-launch figcaption * {
    color: #fff;
}

.recent-launch figcaption h6 {
    font-size: 1.25rem;
    font-weight: 600;
}

.recent-launch figcaption p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}

.owl-nav button.disabled {
    opacity: 0.4;
}

.recent-launch .owl-prev span {
    display: none;
}

.owl-thumb-item {
    outline: 0 !important;
    border: 0.1rem solid transparent;
}

.owl-thumb-item.active {
    border-color: #347AF4;
}

.carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.contact {
    background: linear-gradient(180.81deg, #051632 0.79%, #00081F 99.4%);
}

.contact-head {
    color: #ffffff;
}

.contact input, .contact input:focus {
    background: transparent;
    border: 0;
    border-bottom: .01rem solid #fff;
    border-radius: inherit;
    box-shadow: none;
    color: #fff;
}

.contact .has-error label {
    color: red;
}
.contact .has-error input {
    border-color: red;
}

.projects {
    background: linear-gradient(270deg, #002A72 -58.51%, #000F28 100%);
    color: #ffffff;
}

.projects span {
    font-size: inherit;
    color: #347AF4;
    font-weight: 600;
}

.contact label {
    color: #ffffff;
}

.vision-wos {
    background-color: #072800;
}

.we-aim {
    background-color: #001232;
}

#chManBlockItem.fixed {
    position: fixed;
    top: 8rem;
}

#chManBlockItem.btmFixed {
    position: absolute;
    right: 0;
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 575px) {
    .our-core {
        background: none;
        background-color: #000F28;
    }
    /* RP */
    /*.justify-content-end.ml-auto.nav-item {
        position: fixed !important;
        padding: 0;
        width: 100%;
        flex: 0 0 100%;
        text-align: center;
        display: inline-block !important;
        max-width: 100%;
        left: 0px;
        bottom: calc(-100vh - -62px);
        justify-items: center;
        background-color: #020e29;
        border-top: 1px solid rgb(255 255 255 / 0.15);
    }
    header ul li {
        display: inline-block;
        width: 33%;
        float: left;
        text-align: center;
    }
    header ul li a {
        padding: 1rem 1.5rem 8px;
        font-size: 14px;
    }
    header ul li:first-child a,
    header ul li:last-child a {
        padding: 1.5rem 1.5rem 8px;
    }
    .banner .carousel-indicators {
        margin: 0;
        bottom: 2%;
    }*/
    /* RP */
}